.input-change{
    width: 12rem;
    height: 1.4rem;
    border-radius: 1rem;
    margin-right: 1rem;
    background-color: #4b4e55;
    color: white;
    font-size: 1rem;
    border-color: white;
    padding-left: 5px;
} 

.login-button{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    background: #7652bf;
    border: none;
    color: #cac3c3;
    font-size: 16px;
    cursor: pointer;
}

label{
    color: #cac3c3;
}

.login-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.login-header{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

body.auth .form-wrapper form .form-control {
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 100px!important;
}

.form-control {
    padding: 15px 30px;
    height: auto;
    border-radius: 7px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 1px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 31px!important;
    margin-bottom: 17px;
}

/* .login-container{
    background-color: #202124;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
} */

.register{
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.error-msg{
    color: red;
    font-size: 12px;
    padding-left: 5px;
}

.login-input{
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-around;
    width: 200px;
    padding-right: 5px;
}
.container{
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: 'https://cdn.wallpapersafari.com/81/63/VtEaQF.jpg';
    background-color: #202124;
}
.container__body{
    border-radius: 23px;
    flex-direction: column;
    display: flex;
    background-color: #383a3f;
    margin-top:  3px;
    height: 53%;
    width: 30%;
    box-shadow: -1px 4px 2-px -6px rgb(0,0,0,0.75);
}
.content_container {
    align-self: center;
    margin: 8%;
}

.login-box{
    background: #383a3f;
    padding: 3%;
    border-radius: 2%;
    box-shadow: 0px 0px 30px rgb(159 38 234 / 20%);
}
.dark{
    background-color: #202124;
    font-family: Nunito,sans-serif;
    height: 100%;
    color: white;
}