.catch-error{
    font-size: 20px;
    text-align: center;
    background: #383a3f;
    padding: 30px;
    border-radius: 10%;
    box-shadow: 0px 0px 30px rgb(159 38 234 / 20%);
}
.error-try-again{
    color:white;
    background-color: #7652bf;
    height: 40px;
    width: 50%;
    margin-top: 25px;
    font-size: 20px;
    border-radius: 10px;
}
.error-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}